<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <p><input type="text" v-model="num1" /></p>
    <p>
      <select v-model="opt">
        <option value="">-请选择-</option>
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
      </select>
    </p>
    <p><input type="text" v-model="num2" /></p>
    <p><button >=</button></p>
    <p><span>{{ rst }}</span></p>
    
  </div>
  <script src="./vue.js"></script>

  <script>
// var a = 100
// var b = 200
// var c = eval('a+b')  //+符号，有一个操作数是字符串的就做"字符串连接操作",全部操作数都是数值的，就做算术运算
// // eval(字符串)  可以使得字符串当做"js表达式"运行起来
// //               注意：被运行的字符串要遵守js语法规则
// console.log(c)
// console.log(eval("    alert('555')   "))

    // 加法计算器：v-model + 事件绑定 + 响应式 + this + 数据类型转换为数值的
    var vm = new Vue({
      el:'#app',
      data:{
        num1:'',
        num2:'',
        result:'',
        opt:'/' // 计算器操作符号 + - * /  可以设置 或 接收 下拉列表选中项目
      },
      computed:{
        rst(){
          if(this.num1.trim() && this.num2.trim() && this.opt){
            return eval(`${Number(this.num1)} ${this.opt} ${Number(this.num2)}`).toFixed(3)
          }
        }
      }
    })
  </script>
</body>
</html>
